<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/images/meta-tag-500x500.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <meta http-equiv='content-language' content='en-gb'>
    <meta name="title" content="What Could It Cost? | A Daily Trivia Game" />
    <meta
      name='description'
      content='A daily trivia game where you try to guess the price of 5 common grocery items. Do you know how much you spend shopping?'
    />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://whatcoulditcost.amandhoot.com/" />
    <meta property="og:title" content="What Could It Cost? | A Daily Trivia Game" />
    <meta
      property="og:description"
      content="A daily trivia game where you try to guess the price of 5 common grocery items. Do you know how much you spend shopping?"
    />
    <meta
      property="og:image"
      content="https://whatcoulditcost.amandhoot.com/images/meta-tag-1200x628.png"
    />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content="https://whatcoulditcost.amandhoot.com/" />
    <meta property="twitter:title" content="What Could It Cost? | A Daily Trivia Game" />
    <meta
      property="twitter:description"
      content="A daily trivia game where you try to guess the price of 5 common grocery items. Do you know how much you spend shopping?"
    />
    <meta
      property="twitter:image"
      content="https://whatcoulditcost.amandhoot.com/images/meta-tag-1200x628.png"
    />

    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="What Could It Cost?">
      <%= assigns[:page_title] || "" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-yellow-300">
    <%= @inner_content %>
  </body>
</html>
